asgiref==3.8.1
astroid==3.1.0
colorama==0.4.6
dill==0.3.8
Django==4.2.11
exceptiongroup==1.2.0
iniconfig==2.0.0
isort==5.13.2
mccabe==0.7.0
packaging==24.0
platformdirs==4.2.0
pluggy==1.4.0
pylint==3.1.0
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
sqlparse==0.4.4
tomli==2.0.1
tomlkit==0.12.4
typing_extensions==4.10.0
tzdata==2024.1
